{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Career.</h1>
    <div class="text-center">
        <img src="{% static 'images/car1.jpg' %}" class="rounded w-100">
        <h2>นักธุระกิจ, เจ้าของกิจการขายรถยนต์</h2>
        <hr>
        <img src="{% static 'images/car2.jpg' %}" class="rounded w-100">
        <p><strong>ร้านให้บริการแบตเตอรี่ </strong>มีความน่าสนใจ คือ การลงทุนที่ไม่สูง ใครๆก็สามารถทำได้ไม่จำเป็นต้องมีทักษะทางช่างสูงมากนัก อีกทั้งแบตเตอรี่เป็นอุปกรณ์ที่สำคัญของรถยนต์ที่ขาดไม่ได้เด็ดขาด</p>
        <img src="{% static 'images/car3.jpg' %}" class="rounded w-100">
        <p><strong>ขายรถมือสอง </strong>เท่าที่ติดตามการเคลื่อนไหวในแวดวงรถมือสองมานั้น ทั้งในกรุงเทพฯ และต่างจังหวัด ไม่ว่าจะเป็นแบบรถยนต์ รถตู้ ต่างเริ่มประสบปัญหากันมากขึ้น ยอดจำหน่ายลดลง ไม่คล่องตัวเหมือนเมื่อก่อน อาจเนื่องมาจากราคารถยนต์คันแรกไม่ห่างกับรถมือสองมากนัก สำหรับใครที่สนใจอยากทำธุรกิจนี้ควรพิจารณา ไตร่ตรองอย่างละเอียดรอบคอบ หรืออาจต้องมีการตลาดแบบใหม่ เพื่อตอบโจทย์ความต้องการของลูกค้า</p>
        <img src="{% static 'images/car4.jpg' %}" class="rounded w-100">
        <p><strong>คาร์แคร์ </strong>บริการล้าง อัดฉีด ขัดเคลือบสี ถ้าเทียบจากความน่าสนใจในการทำธุรกิจจากยอดผู้ใช้บริการ อาชีพนี้ก็ถือเป็นทางเลือกหนึ่งที่มีความน่าสนใจ เพราะปริมาณรถยนต์ที่เพิ่มทุกปีอย่างต่อเนื่อง มีลูกค้าเข้ามาไม่ขาดสาย แต่อุปสรรคคือคู่แข่งทางการตลาดที่มีมากขึ้นเหมือนกันค่ะ</p>
        <img src="{% static 'images/car5.jpg' %}" class="rounded w-100">
        <p><strong>ประดับยนต์ / อุปกรณ์ตกแต่ง </strong>สินค้าของกลุ่มนี้จะมีความแตกต่างกันไป ตั้งแต่ชิ้นเล็กถึงชิ้นใหญ่ เช่น ไฟ LEDตกแต่งรถ คิ้วโครเมียมต่างๆ สติ๊กเกอร์ สีลอกได้ เป็นต้น ส่วนใหญ่จะเน้นไปตามกระแส เทรนด์ที่ได้รับความนิยมอยู่ ซึ่งหากทำธุรกิจลักษณะนี้ ต้องเป็นคนที่ติดตามข่าวสาร การอัพเดเครื่องยนต์ใหม่อยู่ตลอดเวลา ต้องมีปรับให้ทันทุกสถานการณ์</p>
    </div>
{% endblock %}