{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Idol.</h1>
    <div class="row">
        <div class="col-lg-5">
            <img src="{% static 'images/idol1.jpg' %}" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled">
                <h2 style="color: darkblue">นกน้อย อุไรพร</h2>
                <hr>
                <p>เป็นศิลปินนักร้องชาวไทยแนวลูกทุ่งหมอลำ ที่มีผลงานการบันทึกเสียงมากมาย
                    อาทิเช่น นกจ๋า เกี่ยวข้าวดอรอแฟน ภาพถ่ายวิญญาณรัก สัจจาหญิง แอบคอย ดำขี่หลี่
                    คอยรักจากเสียงพิณ สาวอุบลรอรัก เหมือนดังนกขมิ้น เป็นต้น และเป็นผู้ก่อตั้งคณะเสียงอิสาน
                    คณะหมอลำที่ยิ่งใหญ่ที่สุดและโด่งดังทั้งในและต่างประเทศ และยังคงดำเดินวงมาจนถึงปัจจุบันตั้งแต่ปีพุทธศักราช
                    2518 จนถึงปัจจุบัน</p>
                <p>ต่อมาชื่อ นกน้อย อุไรพร นั้นได้จากการนำเอาเพลงนกจ๋า มาเป็นเหมือนตัวแทนก็คือ นกน้อย
                    และเอาชื่อจริงคือ อุไร มาบวกกับคำสุดท้ายของนามสกุลของนพดล คือคำว่า พร มารวมกันจนกลายเป็น
                    นกน้อย อุไรพรนั่นเอง</p>
            </ul>
        </div>
        <hr>
        <iframe width="560" height="500" src="https://www.youtube.com/embed/JDQOPBpS56k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{% endblock %}