{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Interest.</h1>
    <div class="row">
        <iframe width="560" height="500" src="https://www.youtube.com/embed/FvmC-9C_gug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="col-md-6 mt-3">
            <img src="{% static 'images/int01.jpg' %}" class="img-fluid rounded w-100 mb-2" alt="...">
            <img src="{% static 'images/int02.jpg' %}" class="img-fluid rounded w-100 mb-2" alt="...">
            <img src="{% static 'images/int03.jpg' %}" class="img-fluid rounded w-100 mb-2" alt="...">
        </div>
        <div class="col-md-6 mt-3">
            <h2>BMW 7-Series / BMW i7</h2>
            <p>BMW เปิดผ้าคลุมอย่างเป็นทางการในวันที่ 20 เมษายน 2022 โดยเปิดตัวรุ่นขุมพลังไฟฟ้า 100% i7 ก่อน และ รุ่นเครื่องยนต์สันดาปภายใน พร้อม Plug-in hybrid ซึ่งเป็นที่แน่นอนแล้วว่าจะไม่มีเครื่องยนต์ V12 อย่างที่เคยมีมาในรุ่น M760Li แต่จะใช้เครื่องยนต์เบนซิน V8 แทน</p>
            <p>ภายนอก BMW i7 จะแชร์แนวทางการออกแบบร่วมกับ BMW iX แต่ใช้ไฟหน้า Adaptive LED 2 ชั้น และ BMW crystal headlights Iconic Glow ที่ใช้คริสตัลจาก Swarovski เป็นออฟชั่น กระจังหน้าไตคู่อันมหึมา พร้อมไฟเรืองแสงยามค่ำคืน แต่ได้รับการปรับอัตราส่วนให้เข้ากับรถซีดานหรูขนาดใหญ่ที่มีความเตี้ยกว่ารถ SUV โดยจะมีความกว้างของกระจังใกล้เคียงกับ Concept XM รวมไปถึงมีการติดตั้งแสงสว่างที่ขอบกระจังทั้งชิ้นเสริมความโดดเด่นมากยิ่งขึ้น</p>
            <p>BMW i7 แบ่งการตกแต่งออกเป็น 2 รุ่น ได้แก่ M Sport ที่เน้นความสปอร์ต ใช้โทนสีดำเงาในการตกแต่งภายนอกรอบคัน พร้อมแทรกวัสดุคาร์บอนไฟเบอร์ ช่องดักลมที่กันชนหน้าขนาดใหญ่ งานออกแบบกันชนหน้าด้านล่างตามสไตล์ M sport สีตัวถังเฉพาะรุ่นในขณะที่รุ่น Pure Excellence ที่เน้นความเรียบหรู กระจังหน้าแบบปกติ ใช้โครเมียมในการตกแต่ง พร้อมช่องดักลมขนาดเล็กกว่า ใช้โทนสีสว่างในการตกแต่งภายนอก-ภายใน</p>
            <p>ภายในชูนวัตกรรม iDrive เจเนอเรชั่นล่าสุด ที่เพิ่มขีดจำกัดในการปรับแต่งการขับขี่และบรรยากาศภายในห้องโดยสาร พร้อมกับการเชื่อมต่อที่ครบครันผ่านเครือข่าย 5G หน้าปัดเรือนไมล์ทรงโค้ง BMW Curved Display ขนาด 12.3 นิ้ว ที่เชื่อมต่อกับจอกลางขนาด 14.9 นิ้ว สามารถดู YouTube ได้ และยังมาพร้อม BMW Interaction Bar ที่นอกจากจะทำหน้าที่เป็น ambient lighting แล้ว ยังสามารถผนวกปุ่มควบคุมฟังก์ชั่นบางส่วนเข้าไปอีกด้วย และยังติดตั้งไฟ LED ตกแต่งภายในห้องโดยสารรอบคัน ที่สามารถปรับแต่งได้หลากหลาย</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <iframe width="560" height="500" src="https://www.youtube.com/embed/QEuUIQ2BvbM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="col-md-6 mt-3">
            <img src="{% static 'images/int04.jpg' %}" class="img-fluid rounded w-100 mb-2" alt="...">
            <img src="{% static 'images/int05.jpg' %}" class="img-fluid rounded w-100 mb-2" alt="...">
            <img src="{% static 'images/int06.jpg' %}" class="img-fluid rounded w-100 mb-2" alt="...">
        </div>
        <div class="col-md-6 mt-3">
            <h2>หมอลำคณะเสียงอิสาน</h2>
            <p>ก่อนจะเกิดเป็น หมอลำคณะเสียงอิสาน นกน้อย หรือ นางอุไร สีหะวงศ์ เกิดเมื่อวันที่ 11 ตุลาคม พ.ศ. 2500 อายุ 60 ปี อยู่ที่บ้านจอม ตำบลยางชุมน้อย อำเภอยางชุมน้อย จังหวัดศรีสะเกษ ก่อนที่จะมาเป็นศิลปินลูกทุ่งหมอลำ นกน้อยเริ่มต้นการเข้าสู่วงการบันเทิงโดยเข้าประกวดร้องเพลงที่สถานีวิทยุ</p>
            <p>เธอกวาดรางวัลชนะเลิศมาทุกเวที ด้วยคะแนนที่เป็นเอกฉันท์ปราศจากข้อกังขา และได้มาสมัครกับ พ่อนพดล ดวงพร ในตำแหน่งหางเครื่อง และได้เป็นนักร้องของวงในเวลาซึ่งเพลงนกจ๋าได้รับความนิยมสูงสุด</p>
            <p>ต่อมาชื่อ นกน้อย อุไรพร นั้นได้จากการนำเอาเพลงนกจ๋า มาเป็นเหมือนตัวแทนก็คือ นกน้อย และเอาชื่อจริงคือ อุไร มาบวกกับคำสุดท้ายของนามสกุลของนพดล คือคำว่า พร มารวมกันจนกลายเป็น นกน้อย อุไรพร นั่นเอง</p>
            <p>ปี 2518 นกน้อยลาออกจากวงเพชรพิณทอง มาสังกัดสำนักงานบ้านพักทัมใจ ซึ่งเป็นศูนย์รวมของหมอลำกว่าร้อยคณะ ภายใต้การบริหารงานของ “อาทิดหลอด” หรือชื่อจริง มัยกิจ ฉิมหลวง ซึ่งตอนนั้นเป็นนักจัดรายการวิทยุที่ได้รับความนิยมสูงสุดของอุดรธานี</p>
            <p>แรกๆ นกน้อยยังเป็นนักร้องรับเชิญตามคณะหมอลำต่างๆ โดยมีอาทิดหลอดเป็นผู้ขับรถและประสานงานในทุกเรื่อง นกน้อยมีหน้าที่ขึ้นร้องเพลงอย่างเดียวเท่านั้น</p>
            <p>ทั้งนี้ และทั้งชื่อเสียงของคณะเสียงอิสานเริ่มขยายวงกว้าง ด้วยทีมงานที่ยิ่งใหญ่ขบวนคอนวอยที่ยาวเหยียด เวทีแสงสีเสียงและการแสดงอันตื่นตาตื่นใจ และรูปแบบเวทีใหม่โดยใช้รถ 6 ล้อ 2 คันกางปีกออก</p>
            <p>แล้วก็จัดสเตปใช้ระบบไฮดรอลิกซึ่งเป็นการพัฒนาที่ไม่หยุดยั้งและรูปแบบการแสดงใหม่ จนได้ชื่อว่าเป็น “สุดยอดหมอลำ ก้าวล้ำตลอดกาล” ปัจจุบัน นกน้อย อุไรพร ได้รับการยกย่องว่าเป็นราชินีหมอลำในยุคปัจจุบันอีกคนหนึ่ง</p>
        </div>
    </div>
{% endblock %}