{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Interest.</h1>
    <div class="card text-bg-dark">
        <img src="{% static 'images/int1.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h2 class="card-title">รถยนต์</h2>
        </div>
    </div>
    <br>
    <div class="card text-bg-dark">
        <img src="{% static 'images/int2.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h2 class="card-title">หมอลำ</h2>
        </div>
    </div>
{% endblock %}