{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center form-title">List Form.</h1>
    <hr>
    <table class="table text-center">
        <tr>
            <th>ID</th>
            <th>Series</th>
            <th>BodyTypes</th>
            <th>Color</th>
            <th>System</th>
            <th>Net</th>
            <th>Sum</th>
            <th>Discount</th>
            <th>Total</th>
        </tr>
        {% for product in product %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.series }}</td>
                <td>{{ product.bodyTypes }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.system }}</td>
                <td>{{ product.net }}</td>
                <td>{{ product.pSum|floatformat:2 }}</td>
                <td>{{ product.pDiscount|floatformat:2 }}</td>
                <td>{{ product.pTotal|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}