<title>showMyData</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <h1 class="text-center">Show Data.</h1>
        <hr>
        <p><strong>ID: </strong>{{ id }}</p>
        <p><strong>Name: </strong>{{ name }}</p>
        <p><strong>gender: </strong>{{ gender }}</p>
        <p><strong>Height: </strong>{{ height }}</p>
        <p><strong>Weight: </strong>{{ weight }}</p>
        <p><strong>Food: </strong>{{ food }}</p>
        <p><strong>Color: </strong>{{ color }}</p>
        <p><strong>Address: </strong>{{ address }}</p>
        <p><strong>car: </strong>{{ car }}</p>
        <p><strong>Pet: </strong>{{ pet }}</p>
    </div>
    <hr>
    <div class="table-responsive-md">
        <table class="table table-bordered">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Images</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            {% for products in product %}
                <tr>
                    <td> {{ products.0 }} </td>
                    <td>
                        <img src="{{ products.1 }}" class="img-fluid w-100">
                    </td>
                    <td style="width: 150px"> {{ products.2 }} </td>
                    <td> {{ products.3 }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}